header {
    padding: 156px 0 100px;
}

section {
    padding: 50px 0;
}

body {
    padding-top: 56px;
}

.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.background {
    background-color: #7a736b;
}

.footer a {
    color: rgba(255,255,255,.5)!important;
    text-decoration: underline;
}
#map {
    height: 30rem;
    border: solid 1px #7a736b
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    padding-right: 5px;
    margin: 0 0 5px;
    font-size: 1.0rem;
    font-weight: bold;
}

.hidden {
    display: none;
}
