// Bootstrap variable overrides
$primary:                #7a736b;
$headings-font-family:   Crimson Text;
$headings-font-weight:        600;
$navbar-brand-font-size: 1.5rem;

// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";
// Import Web fonts
@import "fonts";
// Import Leaflet CSS
@import "../../node_modules/leaflet/dist/leaflet.css";
@import "../../node_modules/esri-leaflet-geocoder/dist/esri-leaflet-geocoder.css";

body {
    padding-top: 3.5rem; // needed for fixed nav
}

.navbar-brand-font {
  font-family: 'Crimson Text';
  font-weight: 400;
}
.header-image-full {
  object-fit: cover;
  min-height: 11rem;
  max-width: 100%;
  width: 100%;
}

.footer a {
    color: rgba(255,255,255,.5)!important;
    text-decoration: underline;
}
#map {
    height: 30rem;
    border: solid 1px #7a736b
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    padding-right: 5px;
    margin: 0 0 5px;
    font-size: 1.0rem;
    font-weight: bold;
}

.blockquote {
  font-weight: 300;
  text-indent: 1.25rem;
}
